    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous" defer></script>
    <script>
      $(document).ready(function() {
        $("#contact-form").submit(function(e) {
          e.preventDefault();
          var $form = $(e.target);
          var url = 'https://script.google.com/macros/s/AKfycbxtWy381JnAFP2X2Cn9avuVcc_vogv0IHP4wOsdq6zY111nixpEsMWwyFwZJW1WFebXSA/exec';
          $('#post-form').append($('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg>').addClass('bi bi-arrow-clockwise bi-arrow-clockwise-animate ms-1 mb-1'));
          var jqxhr = $.post(url, $form.serialize(), function(data) {
            $('.bi-arrow-clockwise').remove();
            $('#post-form').blur();
            $('.alert-success').show("slow");
            $('#contact-form')[0].reset();
            setTimeout(function() {
              $('.alert-success').hide("slow");
            }, 5000);
          })
          .fail(function(data) {
            $('.bi-arrow-clockwise').remove();
            $('#post-form').blur();
            $('.alert-danger').show();
            $('#contact-form')[0].reset();
            setTimeout(function() {
              $('.alert-danger').hide("slow");
            }, 5000);
            if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
              $('.bi-arrow-clockwise').remove();
              $('#post-form').blur();
              $('.alert-success').show("slow");
              $('#contact-form')[0].reset();
              setTimeout(function() {
                $('.alert-success').hide("slow");
              }, 5000);
            }
          });
        });
      });
    </script>
