      /* Homepage Custom Styles */
      #hero {
        background-image: url("images/home/hero.jpg");
        background-repeat: no-repeat;
        height: 500px
      }
      @media (max-width: 575.98px) {
        #hero {
          background-image: none;
          color: #212529 !important;
          height: auto
        }
      }
