      /* Homepage Custom Styles */
      #hero {
        background-image: url("images/home/hero.jpg");
        background-repeat: no-repeat
      }
      @media (max-width: 576px) {
        #hero {
          background-image: none
        }
      }
