    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.excerpt| strip_html }}">
    <meta name="author" content="{{ site.name }}">
    <meta itemprop="name" content="{{ site.name }} | {{ site.description }}">
    <meta itemprop="description" content="{{ page.excerpt| strip_html }}">
    <meta itemprop="image" content="{{ site.url }}/images/site.jpg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/images/site.jpg">
    <meta property="og:description" content="{{ page.excerpt| strip_html }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/site.webmanifest">
