    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" data-bs-theme="dark">
      <div class="container">
        <img alt="Vacation Hot Tubs logo" class="pe-2" src="images/logo.png" />
        <a class="navbar-brand fw-light" href="/">Vacation Hot Tubs</a>
        <button aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">{% for item in include.nav %}
            <li class="nav-item ms-3"><a class="nav-link{% if item.url == page.url %} active{% endif %}" href="{{ item.url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}{% if item.url == page.url %} <span class="visually-hidden">(current)</span>{% endif %}</a></li>{% if item.subnav %}
            <li class="nav-item dropdown ms-3">
              <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="projectsDropdown" role="button">Hot Tubs</a>
              <ul class="dropdown-menu" aria-labelledby="projectsDropdown">{% for item in item.subnav %}
                <li>
                  <a class="dropdown-item{% if item.url == page.url %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                </li>{% endfor %}
              </ul>
            </li>{% endif %}{% endfor %}
          </ul>
        </div>
      </div>
    </nav>
