<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
{% include meta.html %}
    <style>
{% if page.url == '/' %}{% include home.css %}{% else %}{% include not_home.css %}{% endif %}
    </style>
  </head>
  <body>
{% include nav.html %}
    <main role="main">
{{ content }}
    </main>{% if page.url == '/' or page.url == '/price-quote' %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>{% endif %}
  </body>
</html>
